.container {
    text-align: center;
    margin-top: 100px;
  }
  
  .card {
    max-width: 600px;
    align-items: center;
    margin: 30px;
    border-radius: 20px;
  }
  
  .card-title {
    display: block;
    margin: 20px 0;
    font-size: 18px;
  }
  .card-img {
    max-width: 200px;
    /* max-height: 400px; */
    object-fit: cover;
    margin-bottom: 15px;
  }
  .price {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin: 20px 0;
  }
  
  .content {
    background-color: #cac3bd;
    color: #5a524c;
    border-radius: 20px;
    padding: 15px;
  }
  .products {
    margin-top: 30px;
  }